<section class="section-container">
  <h1>Apply for Membership</h1>
</section>

<section class="section-container">
  <h2>Application Form</h2>
  <p>Enter the secret password to become a member</p>
  <form action="" method="POST">
    <label>
      Password (It's secretpassword1)
      <input type="text" name="membership-password" id="membership-password">
    </label>
  </form>
</section>