<h1>Messages Page</h1>
<section class="section-container"></section>
  <% if (locals.user) { %>

    <h2>New Message</h2>
    <form action="/messages" action="POST">
    </form>

  <% } else { %>

    <h2>Log in to post a message.</h2>
    <a href="/users/log-in">Log in</a>

  <% }; %>

</section>


<section class="section-container">
  <h2>All Messages</h2>
  <% messages.forEach(message => { %>
    <div class="message">
      <h3><%= message.title %></h3>
      <p class="message-author">
        <%= message.username %>
        <span class="message-date">message.date</span>
      </p>
      <p class="message-text"><%= message.text %></p>
    </div>
  <% }); %>
</section>

<%- contentFor('title') %> Messages || The Message Board